
<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
<h1><%= @card.name.upcase %></h1>

<div style="float: left; padding-right: 20px;">
	<%= link_to image_tag(@card.image.public_filename(:small)), @card.image.public_filename %>
</div>
<div>
	<%= render @card.manas %>
</div>
<% if admin? %>
	<%= render :partial => '/manas/new' %>
<% end %>
<div>
	<%= redcloth(@card.kind) %>
	<%= redcloth(@card.ablity) %>
	<div style="font-style: italic;">
		<%= redcloth(@card.flavor_text) %>
	</div>
</div>

